# add your project requirements here, be sure to pin the versions
pymc3
keras
tensorflow
pytest
imbalanced-learn
streamlit
streamlit_option_menu
streamlit_shap
streamlit_javascript
lime
flask
scikit_learn
seaborn
matplotlib
benford_py
pynomaly
pysad
gradio
spark
statsmodels
xgboost
feature-engine
shap
scipy
yellowbrick
hyperopt
pycaret
prophet
networkx
combo
benford_py
